{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ pluralize(events|length, 'Event', 'Events') }}</h1>

    <ul>
        {% for event in events %}
            <article>
                <header>
                    <h2><a href="{{ path('app_events_show', {id:event.id}) }}">{{ event.name }}</a></h2>
                </header>

                <ul>
                    <li><strong>Date:</strong>{{ event.startsAt|date }}</li>
                    <li><strong>Location: </strong>{{ event.location }}</li>
                    <li><strong>Price: </strong>{{ formatPrice(event) }}</li>
                </ul>
            </article>
        {%  endfor %}
    </ul>

{% endblock body %}