{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ pluralize(events|length, 'Event', 'Events') }}</h1>

    <ul>
        {% for event in events %}
            <div class="container">
                <div class="row">
                    <article class="col-md-6">
                        <ul>
                            <li>
                                <p style="color:#d1410c; font-weight: 600;">{{ event.startsAt|date }}</p>
                                <p><a href="{{ path('app_events_show', {id:event.id}) }}">{{ event.name }}</a></p>
        {#                        <p><strong>Location: </strong>{{ event.location }}</p>#}
        {#                        <p><strong>Price: </strong>{{ formatPrice(event) }}</p>#}
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        {%  endfor %}
    </ul>

{% endblock body %}